<style>
	
	;

	body {
		text-align: center;
		background-image: url(http://media.istockphoto.com/photos/travelling-tools-picture-id489556478?k=6&m=489556478&s=170667a&w=0&h=IwZFU4xlD6yEjpSYpYL0TQZn-qgNEJUs4MWYoU56VMU=);
		background-position: center;
		background-repeat: none;
		background-size: 100%;
	}
</style>

<h1>Welcome to TravelApp</h1>

<h3>Please add information about the traveler <a href="/person_entry">here</a>

{{!-- <form action="/person_info">
  Search TravelApp:
  <input type="search" name="TravelApp" value="" id="app_search">
  <input type="submit" id="app_submit">
  <input type="reset">
</form> --}}



