<style>
    body {
        text-align: center;
    }

    ul {
        list-style: none;
    }

    a {
        font-style: : none;
        color: rgb(255,255,255)
    }


</style>

<head>
    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <form action="/person_entry" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="last name">Last name</label>
        <input type="text" id="last_name" name="last_name"/>
    </div>
    <div>
        <label for="date">Date</label>
        <input type="text" id="date" name="date"/>
    </div>
    <div>
        <label for="airline">Airline</label>
        <input type="text" id="airline" name="airline"/>
    </div>

    <input type="submit" name="submit" value="Submit">

   {{!--  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Button</button> --}}

    <div id="back_home">
    <ul>
        <li ><a href="/">Go back home</a></li>

    </ul>
</div>


</form>

<script src="/node_modules/material-design-lite/material.min.js"></script>
    
</body>


