
<form action="/person_entry" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="last name">Last name</label>
        <input type="text" id="last_name" name="last_name"/>
    </div>
    <div>
        <label for="date">Date</label>
        <input type="text" id="date" name="date"/>
    </div>
    <div>
        <label for="airline">Airline</label>
        <input type="text" id="airline" name="airline"/>
    </div>

    <input type="submit" name="submit" value="Submit">

</form>

<div id="back_home">
    <ul>
        <li ><a href="/">Go back home</a></li>
    </ul>
</div>
