body {
	font-size: 24px;
	font-family: 'Robot', sans-serif;
	color: black;
	background: url(https://static.pexels.com/photos/34020/pexels-photo.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 250px;
}

h1 {
	color: rgb(255,255,255);
}